NEWS_API_KEY=b43bc025bb5147e5a3e5eb80b6fcda55
OPENAI_API_KEY=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
ALPHA_VANTAGE_API_KEY=61YUCJD4EZX9MA65
FINNHUB_API_KEY=d8to8jhr01qhcnk51ek0d8to8jhr01qhcnk51ekg
FMP_API_KEY=FD89KW2FiHZ1S7Np7x5xVGRR6WiDP9ZT
